html,
body {
    font-family: $font;
    &::-webkit-scrollbar {
        display: none;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: $blue;
    transition: 300ms ease;
    &:hover {
        color: darken($color: $blue, $amount: 20);
        text-decoration: none;
    }
}

button {
    font-family: $font;

    &:focus {
        outline: none;
        border: none;
    }
}

img {
    width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.3;
    margin-bottom: 0.6em;
}

h1 {
    font-size: 50px;

    @include laptop {
        font-size: 42px;
    }

    @include mobile {
        font-size: 32px;
    }
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 30px;

    @include laptop {
        font-size: 26px;
    }

    @include mobile {
        font-size: 20px;
    }
}

input,
textarea {
    width: 100%;
    border: none;
    padding: 5px 15px;
    &:focus {
        outline: none;
        border: none;
    }
}

button {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    &:focus {
        outline: none;
        border: none;
    }
}

.svg-icon {
    fill: $blue;
}
