
// Colors
$white: #FFF;
$blue: #892cdc;
$dark-blue: #222831;
$light-grey: #A9A8A8;
$grey: #a6a9b6;
$orange: rgba(244, 114, 22, 1);
$light-orange: rgba(244, 114, 22, .7);;
$yellow: #FAE578;


$box-shadow: 0 0 7px 0 rgba(0,0,0,.2);

$font: 'Gilroy', sans-serif;



