<!--<div class="col-lg-3 col-md-2 col-sm-6 col-6">-->
    <div class="card">
        <span class="card-special">Акция -10%</span>
        <div class="card-image">

            <img src="/assets/images/card-img.png" alt="Лазерный принтер HP LaserJet Pro M15w LaserJet Pro M15w"
                title="Лазерный принтер HP LaserJet Pro M15w LaserJet Pro M15w">
        </div>
        <div class="card-price">
            <span class="card-price__new">8 990 ₽ </span>
            <span class="card-price__old">9 890 ₽ </span>
        </div>
        <div class="card-rating">
            <ul>
                <li><img src="/assets/images/icons/filled-star.svg" alt="star"></li>
                <li><img src="/assets/images/icons/filled-star.svg" alt="star"></li>
                <li><img src="/assets/images/icons/filled-star.svg" alt="star"></li>
                <li><img src="/assets/images/icons/filled-star.svg" alt="star"></li>
                <li><img src="/assets/images/icons/half-filled-star.svg" alt="star"></li>


            </ul>
            <span class="card-rating__reviews">1256 <span>отзывов</span></span>
        </div>
        <div class="card-title">Лазерный принтер HP LaserJet Pro M15w LaserJet Pro M15w </div>
        <div class="card-actions">
            <button class="btn card-actions__add"><img src="/assets/images/icons/card.svg" alt="В корзину"><span>В
                корзину</span></button>
            <button class="card-actions__wish"><img src="/assets/images/icons/wish.svg" alt=""></button>
        </div>
    </div>
<!--</div>-->
