<div class="container">

    <div class="slider-container">


        <div class="swiper-container home-page-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">{{> card}}</div>
                <div class="swiper-slide">{{> card}}</div>
                <div class="swiper-slide">{{> card}}</div>
                <div class="swiper-slide">{{> card}}</div>
                <div class="swiper-slide">{{> card}}</div>
                <div class="swiper-slide">{{> card}}</div>
            </div>

        </div>
        <div class="swiper-button-prev"><img src="/assets/images/icons/arrow-left-orange.svg" alt="" srcset=""></div>
        <div class="swiper-button-next"><img src="/assets/images/icons/arrow-left-orange.svg" alt="" srcset=""></div>
    </div>
</div>